* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: whitesmoke;
}
.container .hero {
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid rgb(13, 83, 152);
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 0 40px 0 80px;
}
.hero nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}
.hero nav .logo {
    color: black;
    font-size: 45px;
    font-weight: bold;
}
.hero nav .nav-links a {
    color: black;
    margin-left: 40px;
    text-transform: capitalize;
    transition: 0.3s;
}
.hero nav .nav-links a:hover,
.hero nav .nav-links a.active {
    color: aliceblue;
}
.hero .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
.hero .content .div-text {
    width: 40%;
}
.hero .content .div-text h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(13, 83, 152);
    font-size: 50px;
    line-height: 50px;
    padding-top: 80px;
    word-spacing: 2px;
}
.hero .content .div-text h4{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(13, 83, 152);
    font-size: 20px;
    line-height: 30px;
    padding-top: 30px;
    word-spacing: 2px;
}
.hero .content .div-text p{
    color: black;
    margin-bottom: 50px;
    font-size: 18px;
}

.soc-link{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50);
    display: flex;
    flex-direction: column;
}
.soc-link a i{
    font-size: 25px;
    cursor: pointer;
    color: rgb(13, 83, 152);
    margin-bottom: 15px;
    transition: 0.3s;
}
.soc-link a i:hover{
    color: aliceblue;
}
.hero .logo,
.hero .content .div-text h1,
.hero .content .div-text h4,
.hero .content .div-text .btn{
    position: relative;
    top: 50px;
    animation: slide-top .5s linear forwards;
    opacity: 0;
}
.hero .logo{
   animation-delay: 0.2s;
}
.hero .content .div-text h1{
    animation-delay: 0.4s;
}
.hero .content .div-text h4{
    animation-delay: 0.8s;
}
@keyframes slide-top{
    0%{
        top: 50px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}
.hero .content .div-text p{
    position: relative;
    left: 100px;
    animation: slide-right .4s linear forwards;
    animation-delay: 1.2s;
    opacity: 0;
}
@keyframes slide-right{
    0%{
        left: 100px;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}

.aboutme{
    padding: 140px 70px;
}
.aboutme h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: cornflowerblue;
    font-size: 30px;
    line-height: 40px;
    padding-top: 50px;
    word-spacing: 2px;
}
.aboutme h2{
    color: navy;
}
.skills h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(13, 83, 152);
    font-size: 50px;
    line-height: 50px;
    padding-top: 80px;
    word-spacing: 2px;
}
.skills h4{
    display: flex;
    text-align: center;
    color: rgb(13, 83, 152);
    font-size: 30px;
    line-height: 30px;
    padding-top: 30px;
    word-spacing: 2px;
}
.skills p{
    position: relative;
    left: 100px;
    animation: slide-right .4s linear forwards;
    animation-delay: 1.2s;
    opacity: 0;
}
.experience h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(13, 83, 152);
    font-size: 40px;
    line-height: 50px;
    padding-top: 80px;
    word-spacing: 2px;
}
.experience p{
    position: relative;
    left: 100px;
    animation: slide-right .4s linear forwards;
    animation-delay: 1.2s;
    opacity: 0;
}
.experience h4{
    display: flex;
    text-align: center;
    color: rgb(13, 83, 152);
    font-size: 25px;
    line-height: 30px;
    padding-top: 30px;
    word-spacing: 2px;
}